body{
	
	background:-webkit-gradient(linear, left top, left bottom, from(#d6d6d4), to(#ffffff)) scroll 0 0 repeat-x ;
    background:-moz-linear-gradient(center top , rgb(214, 214, 212), rgb(255, 255, 255)) repeat-x scroll 0% 0% transparent; 
    background:-ms-filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#d6d6d4, endColorStr=#ffffff,GradientType=1);
}

td.logoPosition{
	
	position:absolute;
	top:30px;
	left:5px;
	
	
}

ul.primaryNavWrapper {
    width: 100%;
    float: left;
    min-height: 20px;
    background: url('images/main-nav-bg.jpg') repeat-x scroll 0% 0% #724C1D;
    background-repeat: repeat-x;
    width:100%;
    position: relative;
    z-index: 99;
}

td.titleText{
/*	position: absolute;
	top: 103px;	
	margin-left: 481px;
	height: 52px;
	background: url('images/main-nav-bg.jpg');
	background-repeat: repeat-x;
    width:100%; */
	
	color : #FF0000;
	font-size:20px;
    margin-left: 481px;
    min-height: 40px;
   /* background: url('images/main-nav-bg.jpg') repeat-x scroll 0% 0% #724C1D; */
    background:-webkit-gradient(linear, left top, left bottom, from(#000000), to(#ffffff)) scroll 0 0 repeat-x ;
    background:-moz-linear-gradient(center top , #F0FFFF, #FFFFFF) repeat-x scroll 0% 0% transparent; 
    background:-ms-filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#000000, endColorStr=#ffffff,GradientType=1);
    width:100%;
    position: relative;
    z-index: 99; 
      /*float: center;*/
}

table.ramu {
    width:100%;
    height: 80px;
}

nav ul{
	background: #efefef; 
	background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0 3px;
	border-radius: 3px;  
	list-style: none;
	position: relative;
	display: inline-table;
	
}

nav ul ul {
	display: none;
}

nav ul li:hover > ul {
	display: block;
}

nav ul:after {
		content: ""; clear: both; display: block;
}

nav ul li {
	float: left;
}

nav ul li:hover {
		background: #855408;
}
	
nav ul li:hover a {
		color: #fff;
}
	
nav ul li a {
		display: block; padding: 10px 10px;
		color: #FFFFFF; text-decoration: none;
}

nav ul ul {
	background: #855408; border-radius: 0px; padding: 0;
	position: absolute; top: 100%;
}
	nav ul ul li {
		float: none; 
		border-top: 1px solid #6b727c;
		border-bottom: 1px solid #575f6a;
		position: relative;
	}
		nav ul ul li a {
			padding: 10px 10px;
			color: #fff;
		}	
			nav ul ul li a:hover {
				background: #724C1D;
			}

nav ul ul ul {
	position: absolute; left: 100%; top:0;
}

